@media screen and (min-width: 500px) {
    .heading {
        margin-bottom: 3em;
    }

    .menu {
        display: none;
    }

    .nav-bar {
        margin: 1em;
        display: block;
    }

    .nav-bar nav {
        top: 1em;
        display: flex;
        font-size: 1.2em;
        justify-content: space-around;
        height: 2em;
    }

    .nav-bar a:hover,
    .active {
        bottom: .3em;
        border-bottom: .3em solid var(--color_accent2);
        border-left: none;
    }


    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner a {
        font-size: 1.3em;
    }

    .info-main {
        grid-row: span 3;
    }

    .our-cats {
        width: 80%;
        margin: auto;
    }

    .card {
        display: flex;
    }

    .card img {

        margin: 1em;
    }

    .confirmed {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .confirmed img {
        width: 300px;
        margin: 1rem;
    }
}